{% extends 'hello/layout.html' %}

{% block title %}アカウント作成{% endblock %}

{% block header %}
<h1 class="display-4 text-primary">アカウントをつくる</h1>
{% endblock %}

{% block content %}
<section id="account">
    <div class="wrapper">
        <div class="location-info">
            <h3 class="sub-title">アカウントさくせい</h3>
            <P>
                なまえ</br>
                アカウント名</br>
                メールアドレス</br>
                とうろく</br>
                ログイン</br>
            </P>
    </div>
</section>   
{% endblock %}


